VITE_USER_SERVICE_URL=http://localhost:8080
VITE_USER_SERVICE_API_BASE_URL=/api/user
VITE_USER_SERVICE_DEMO_USER_ID=909262ef-d229-47aa-8fdd-8c3f93adfd5d
VITE_LEARNING_SERVICE_URL=http://localhost:8082
VITE_LEARNING_SERVICE_API_BASE_URL=/api/learning
VITE_COURSE_SERVICE_API_BASE_URL=/api/course
USER_SERVICE_S3_ENDPOINT=http://localhost:8333
USER_SERVICE_S3_REGION=us-east-1
USER_SERVICE_S3_ACCESS_KEY=seaweedfs-admin
USER_SERVICE_S3_SECRET_KEY=seaweedfs-admin-secret
USER_SERVICE_S3_FORCE_PATH_STYLE=true
COURSE_SERVICE_S3_BUCKET=course-service-local
