POSTGRES_HOST=localhost
POSTGRES_EXTERNAL_PORT=5435
POSTGRES_DB=user_service
POSTGRES_USER=morrs
POSTGRES_PASSWORD=123

TEMP_S3_ENABLED=true
TEMP_S3_BUCKET=user-service-local
TEMP_S3_REGION=us-east-1
TEMP_S3_ACCESS_KEY=seaweedfs-admin
TEMP_S3_SECRET_KEY=seaweedfs-admin-secret
TEMP_S3_ENDPOINT=http://localhost:8333
TEMP_S3_PATH_STYLE_ACCESS=true
TEMP_S3_PUBLIC_BASE_URL=http://localhost:8333/user-service-local